/* resume.css */
#resume {
  /* Styles pour la section CV */
  /* padding: 50px 0; */
  min-height: 100vh;
  /* background-color: cadetblue; */
  color: aliceblue;
}

#resume h1 {
  margin: 0;
  padding: 50px 0;
  text-align: center;
  font-size: 2.5rem;
  color: aliceblue ;
}

#container-cv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 50px 0;
}

.certifications {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10%;
  width: 45%;
}


.formations {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10%;
  width: 45%;
}

h2 {
  text-align: center;
  color: aliceblue;
}

.comp {
  padding : 50px 0;
}

.tech-card.learning {
  background-color: rgba(240, 248, 255, 0.276);
  border-color: #2d2d2d;
}

.tech-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  color: black;
}

.outils-cv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  margin: 5px;
}

.download-cv {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.download-cv a {
  text-decoration: none;
}

.portfolio-experiment a {
  color: white;
  padding: 0.7em calc(0.7em * 1.2);
  display: inline-block;
  border: 3px solid transparent;
  position: relative;
  font-size: 1em;
  cursor: pointer;
  letter-spacing: 0.07em;
}

.portfolio-experiment a .text {
  font-family: proxima-nova, monospace;
  transform: translate3d(0,0.7em,0);
  display: block;
  transition: transform 0.4s cubic-bezier(.2,0,0,1) 0.4s;
}

.portfolio-experiment a:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: calc(0.7em * 1.2);
  right: calc(0.7em * 1.2);
  height: 3px;
  background: #f26522;
  transition: 
    transform 0.8s cubic-bezier(1,0,.37,1) 0.2s,
    right 0.2s cubic-bezier(.04,.48,0,1) 0.6s,
    left 0.4s cubic-bezier(.04,.48,0,1) 0.6s;
  transform-origin: left;
}

.portfolio-experiment .line {
  position: absolute;
  background: #f26522;
}

.portfolio-experiment .line.-right,
.portfolio-experiment .line.-left {
  width: 3px;
  bottom: -3px;
  top: -3px;
  transform: scale3d(1,0,1);
}

.portfolio-experiment .line.-top,
.portfolio-experiment .line.-bottom {
  height: 3px;
  left: -3px;
  right: -3px;
  transform: scale3d(0,1,1);
}

.portfolio-experiment .line.-right {
  right: -3px;
  transition: transform 0.1s cubic-bezier(1,0,.65,1.01) 0.23s;
  transform-origin: top;
}

.portfolio-experiment .line.-top {
  top: -3px;
  transition: transform 0.08s linear 0.43s;
  transform-origin: left;
}

.portfolio-experiment .line.-left {
  left: -3px;
  transition: transform 0.08s linear 0.51s;
  transform-origin: bottom;
}

.portfolio-experiment .line.-bottom {
  bottom: -3px;
  transition: transform 0.3s cubic-bezier(1,0,.65,1.01);
  transform-origin: right;
}

.portfolio-experiment a:hover,
.portfolio-experiment a:active {
  background-color: #f26522; /* Change la couleur de fond au survol/clic */
  color: #2d2d2d; /* Change la couleur du texte au survol/clic */
  border-color: white; /* Change la couleur de la bordure au survol/clic */
  transform: scale(1.05); /* Légèrement plus grand au survol/clic */
  transition: background-color 0.3s ease-in-out, 
              color 0.3s ease-in-out, 
              border-color 0.3s ease-in-out, 
              transform 0.3s ease-in-out; /* Anime les changements */
}


.portfolio-experiment a:hover .text,
.portfolio-experiment a:active .text {
  transform: translate3d(0,0,0);
  transition: transform 0.6s cubic-bezier(.2,0,0,1) 0.4s;
}

.portfolio-experiment a:hover:after,
.portfolio-experiment a:active:after {
  transform: scale3d(0,1,1);
  right: -3px;
  left: -3px;
  transform-origin: right;
  transition: 
    transform 0.2s cubic-bezier(1,0,.65,1.01) 0.17s,
    right 0.2s cubic-bezier(1,0,.65,1.01),
    left 0s 0.3s;
}

.portfolio-experiment a:hover .line,
.portfolio-experiment a:active .line {
  transform: scale3d(1,1,1);
}

.portfolio-experiment a:hover .line.-right,
.portfolio-experiment a:active .line.-right {
  transition: transform 0.1s cubic-bezier(1,0,.65,1.01) 0.2s;
  transform-origin: bottom;
}

.portfolio-experiment a:hover .line.-top,
.portfolio-experiment a:active .line.-top {
  transition: transform 0.08s linear 0.4s;
  transform-origin: right;
}

.portfolio-experiment a:hover .line.-left,
.portfolio-experiment a:active .line.-left {
  transition: transform 0.08s linear 0.48s;
  transform-origin: top;
}

.portfolio-experiment a:hover .line.-bottom,
.portfolio-experiment a:active .line.-bottom {
  transition: transform 0.5s cubic-bezier(0,.53,.29,1) 0.56s;
  transform-origin: left;
}


@media screen and (max-width: 768px) {
  #container-cv {
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    padding: 0 10%;
  }

  .certifications {
    width: 100%;
  }

  .formations {
    width: 100%;
  }
  
}