.tech-card {
  background-color: rgba(240, 248, 255, 0.276);
  border-color: #2d2d2d;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  margin: 10px;
  height: 200px;
  width: 200px;
  color: aliceblue;
}

.tech-card.learning {
  background-color: #f0f0f0;
}

.tech-card img {
  width: 130px;
  height: 140px;
  margin: 10px;
  background-image: cover;
}
